@model AnimalWikiInformation
@{
    ViewData["Title"] = "UpdateAnimal";
}
<body style="background-color:lightblue">
    <br />
    <h1>Update Animal Info - @Model.AnimalName</h1>
    <br />
    <h3>@Model.Information</h3>
    <br />
    <input type="text" name="name" style="width:500px; height:100px;" />
    <br />
    <button>Update Info</button>
</body>