
@{
    ViewData["Title"] = "Wiki";
}

<body>
<h2>Get all wiki info in json format by clicking here : </h2>
<button class="btn btn-success" onclick="GetAllInfoInJson()">Click !</button>


<script>
    function GetAllInfoInJson() {
        window.location.href = 'https://localhost:44357/WikiAnimal/';
    }
</script>
</body>


